{% if betsItems is defined and betsItems|length %}
  <ul class="bets-list">
    <div class="bets-list__background-text">
      Esport
    </div>
    {% for item in betsItems %}
      <li class="bets-list__item">
        <img src="{{ item.image.one().getUrl() }}" alt="{{ item.title }}">
        <div class="bets-list__info">
          <div class="bets-list__title">{{ item.title }}</div>
          {% if item.referralLink is defined and item.referralLinkTitle is defined %}
            <a href="{{ item.referralLink }}">{{ item.referralLinkTitle }}</a>
          {% endif %}
          <a href="{{ item.linkedEntry.one().getUrl() }}">Обзор {{ item.title }}</a>
        </div>
        <div class="bets-list__games-list">
          <div class="bets-list__games-title">Игры</div>
          {{ item.gamesList }}
          <a href="#">
            {{ svg('@webroot/assets/icons/arrowDown.svg') }}
          </a>
        </div>
        <a href="{{ item.href }}" class="button button_primary">Играть</a>
      </li>
    {% endfor %}
  </ul>
  <a href="#" class="button button_outlined button_lg">Каталог парнерских программ
    {{ svg('@webroot/assets/icons/arrow.svg') }}
  </a>
{% endif %}
