{% if articles is defined and articles|length %}
  <ul class="articles-list">
    {% for item in articles %}
      <li class="articles-list__item {{ loop.index <= 2 ? 'articles-list__item_big' }}" >
        <img src="{{ item.image.one().getUrl() }}" alt="{{ item.gameSelector.label }}">
        <div class="articles-list__info">
          <div class="articles-list__game-name">{{ item.gameSelector.label }}</div>
          <div class="articles-list__title"><a href="{{ item.url }}">{{ item.title }}</a></div>
          <div class="articles-list__date">{{ item.postDate | date("d F, Y") }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
