<div class="socials">
  <div class="socials__title">
    Поделиться в соцсетях
  </div>
  <ul>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ entryUrl }}" target="_blank">
        {{ svg("@webroot/assets/icons/facebook.svg") }}
      </a>
    </li>
    <li>
      <a href="https://t.me/share/url?url={{ entryUrl }}" target="_blank">
        {{ svg("@webroot/assets/icons/telegram.svg") }}
      </a>
    </li>
    <li>
       <a href="https://twitter.com/intent/tweet?text=Awesome%20Blog!&url={{ entryUrl }}" target="_blank">
         {{ svg("@webroot/assets/icons/viber.svg") }}
       </a>
    </li>
  </ul>
</div>
